.App {
  padding: 180px;
  text-align: center;
  background-color: #F26A44 ;
  color: rgb(230, 10, 94);
  height: 800px;
  font-size: 80px;
  line-height: 0.5;
}

.hours{
  color: aquamarine;
  font-size: 30px;
}

.convert{
  font-size: 50px;
  color: aliceblue;
  margin-bottom: 30px;

}